.github/
.ipynb_checkpoints/
.venv/
backup/
data/raw
data/processed/*
!data/processed/state_boundaries_simplified.parquet
docs/
notebooks/
scripts/
sightings/
.gitattributes
.gitignore
.python-version
LICENSE
README.md
METHODOLOGY.md
sightings.parquet